.counter{
  min-width: 400px;
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid rgb(160, 2, 2);
  margin-top: 30px;
}