*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  background-color: rgb(4, 33, 110);
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  margin-top: 40px;
}

h1{
  font-size: 25px;
  font-family: Roboto, serif ;  
  display: flex;
  margin-bottom: 15px;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  height: 300px;
}

.container-task-list{
  width: 600px;
  min-height: 100px;
  background-color: rgb(83, 13, 72);
  padding: 25px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  flex-wrap: wrap; 
}