*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

html,body{
  background-color: rgb(5, 117, 121);
}
.logo{
  height: 260px;
}
.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: sans-serif;
}
.container-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.container-counter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-buttons{
  height: 260px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



